{% extends "base.html" %}

{% block content %}
<main>
    <div class="main-wrapper">
        <p><a href="/">< ホームへ戻る</a></p>
        <div class="spacer-big"></div>
        <div class="home-wrapper">
            <div class="home-content">
                <h1 class="header-home">インパクト・フロー</h1>
                <div class="home-nonflex-wrapper">
                    <p>インパクト・フローは、SDGsのインパクトをより効果的に理解、計画、管理するために、非営利組織、社会的企業、さらには企業CSRプロジェクトなどの、社会的インパクトを生み出す組織をサポートする、オンラインインパクト管理ツールです。</p>
                </div>
            </div>
        </div>
        <div class="spacer-big"></div>
        <div class="main-bg-wrapper">
            <div class="align-center">
                <h1>なぜインパクト・フローなのか</h1>
            </div>
            <div class="home-flex-wrapper">
                <div class="home-left">
                    <img src="/static/1-sdg.svg" alt="SDG focused">
                </div>
                <div class="home-right">
                    <h3>SDGsにフォーカス</h3>
                    <p class="gray-standard">インパクト・フローは、国連のSDGsの枠組みに基づき、組織がインパクトを定義するためのガイドとなるツールです。異なるセクター間のインパクト・コミュニケーションを促進します。</p>
                </div>
            </div>
            <div class="border"></div>
            <div class="home-flex-wrapper">
                <div class="home-left">
                    <h3>ステークホルダー志向</h3>
                    <p class="gray-standard">インパクト・フローの設計上、プロジェクトオーナーはステークホルダーの視点からインパクトを見ることができるようになります。また、インパクトのより明確な見方を身に付けることができます。</p>
                </div>
                <div class="home-right">
                    <img src="/static/2-stakeholder.svg" alt="Stakeholder oriented">
                </div>
            </div>
            <div class="border"></div>
            <div class="home-flex-wrapper">
                <div class="home-left">
                    <img src="/static/4-share.svg" alt="Impact data disclosure">
                </div>
                <div class="home-right">
                    <h3>ワンストップ・ツールキット</h3>
                    <p class="gray-standard">インパクト・プランニングから、指標の選定、データ収集、モニタリング、評価まで、インパクトマネジメントの全プロセスをカバーする包括的なツールです。</p>
                </div>
            </div>
            <div class="border"></div>
            <div class="home-flex-wrapper">
                <div class="home-left">
                    <h3>インパクトデータの開示を促進</h3>
                    <p class="gray-standard">すべてのインパクトデータを一元的に管理し、効率的な運用を実現します。プロジェクトオーナーは、プラットフォームから直接プロジェクト情報やインパクトデータを開示することができます。
                    </p>
                </div>
                <div class="home-right">
                    <img src="/static/1-sdg.svg" alt="SDG focused">
                </div>
            </div>
        </div>
        <div class="home-wrapper">
            <div class="home-content">
                <div class="align-center">
                    <h1>開発の経緯</h1>
                </div>
                <div class="home-nonflex-wrapper">
                    <p>インパクト・フローは、組織全般の説明責任と透明性の向上に不可欠な、SDGsインパクトのモニタリングとレポーティングを容易にするための、標準的なインパクト管理ツールとして、ソーシャルバリュージャパンとChangeFusionが共同で開発したものです。</p>
                    <p>また、共通のインパクトレポート基準があれば、異なるセクター間におけるインパクトの理解やインパクトデータの統合が容易になります。</p>
                    <p>エビデンスに基づくインパクトの伝達を支援するツールにより、インパクトの創出を促進するためのインパクト投資の発展をさらに促進します。</p>
                </div>
            </div>
        </div>
</main>
{% endblock %}