{% extends "base.html" %}

{% block content %}
<div class="main-wrapper">
    <p><a href="/project/{{ project.id }}">< プロジェクトへ戻る</a></p>
    <div class="spacer-big"></div>
    <div class="main-flex-wrapper">
        <div class="main-flex-left">
            <p>プロジェクト： {{ project['json']['title'] }}</p>
            <p>ステークホルダー： {{ stakeholder['json']['stakeholder'] }}</p>
            <h1>活動を追加する： {{ activity['json']['activity'] }}</h1>
            {% if activity.mod_dt %}
                <p class="gray-small">作成： {{ activity.create_dt|datetimefilter }} | 変更： {{ activity.mod_dt|datetimefilter }}</p>
            {% else %}
                <p class="gray-small">作成： {{ activity.create_dt|datetimefilter }}</p>
            {% endif %}
            <h2>活動を追加する</h2>
            <p>{{ activity['json']['activity'] }}</p>
            <br>
            {% if editable %}
                <div class="passed-zone">
                    <div class="spacer-small"></div>
                    <a class="no-decoration" href="/project/{{ project.id }}/{{ stakeholder.id }}/{{ activity.id }}/edit"><button class="button">この活動を編集する</button></a>&nbsp;&nbsp;
                    <span class="caution"><a href="/project/{{ project.id }}/{{ stakeholder.id }}/{{ activity.id }}/delete">この活動を削除する</a></span>
                </div>
                <br>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}