{% extends "base.html" %}

{% block content %}
<div class="main-wrapper">
    <div class="login-wrapper">
        <h1 class="login">パスワード変更</h1>
        <form method="POST" action="/password-change">
            {{ form.csrf_token }}
            <div class="input-wrapper">
                {{ form.password_current.label }}
                {{ form.password_current(size=23, placeholder="古いパスワード", autofocus=true) }}<br>
                {{ form.password_new.label }}
                {{ form.password_new(size=23, placeholder="新しいパスワード") }}<br>
                {{ form.password_new_check(size=23, placeholder="新しいパスワード確認") }}<br>
            </div>
            <div class="button-wrapper">
                {{ form.submit(class_="button") }}
            </div>
        </form>
    </div>
</div>
{% endblock %}