{% extends "base.html" %}

{% block content %}
<main class="main-wrapper">
    <p><a href="/project/{{ project.id }}">< プロジェクトへ戻る</a></p>
    <div class="spacer-big"></div>
    <div id="formApp">
        <div id="csrf">{{ form.csrf_token }}</div>
        <div id="projectId" style="display: none;">{{ project.id }}</div>
        <div id="stakeholderId" style="display: none;">{{ stakeholder.id }}</div>
        <div id="data" style="display:none">{{ data }}</div>

        <h1>このステークホルダーを編集する</h1>

        <div class="form-section-wrapper">
            <h2 class="form-section-title">ステークホルダー</h2>
            <div class="form-part-wrapper">
                <div class="form-part-left">
                    <p class="black-small">ステークホルダー</p>
                    <input id="stakeholder" type="text" value="{{ stakeholder['json']['stakeholder'] }}">
                    <br>                
                </div>
                <div class="form-part-right">
                    <p class="gray-small">例</p>
                    <p>小規模漁業者</p>
                </div>
            </div>
            <hr>
            <p class="black-small">提案</p>
            <p class="gray-small">介入によって直接的または間接的に影響を受ける人やグループ、およびプロジェクトに利害関係を持ち、肯定的または否定的にその結果に影響を与える可能性がある人を特定します。 各プロジェクトには、複数のステークホルダーが存在することが一般的です。ステークホルダーは1人ずつ作成し、サマリーページで追加することができます。</p>
        </div>
        
        <div class="form-section-wrapper">
            <h2 class="form-section-title">受益者の種類</h2>
            <div class="form-part-wrapper">
                <div class="form-part-left">
                    <p class="black-small">受益者の種類</p>
                    <input id="degree1" type="radio" name="degree" value="直接的受益者">
                    <label for="degree1">直接的受益者</label>
                    <input id="degree2" type="radio" name="degree" value="間接的受益者">
                    <label for="degree2">間接的受益者</label>
                    <input id="degree3" type="radio" name="degree" value="プロジェクトの成功を実現するもの">
                    <label for="degree3">プロジェクトの成功を実現するもの</label>
                    <br>                
                </div>
                <div class="form-part-right">
                    <p class="gray-small">例</p>
                    <p>直接的受益者</p>
                </div>
            </div>
            <hr>
            <p class="black-small">提案</p>
            <p class="gray-small">上記のステークホルダーは、プロジェクトにどのように関わっていますか？</p>
        </div>
        
        <div class="form-section-wrapper">
            <h2 class="form-section-title">重要性の程度</h2>
            <div class="form-part-wrapper">
                <div class="form-part-left">
                    <p class="black-small">重要性の程度</p>
                    <input id="importance1" type="radio" name="importance" value="高い">
                    <label for="importance1">高い</label>
                    <input id="importance2" type="radio" name="importance" value="中程度">
                    <label for="importance2">中程度</label>
                    <input id="importance3" type="radio" name="importance" value="低い">
                    <label for="importance3">低い</label>
                    <br>                
                </div>
                <div class="form-part-right">
                    <p class="gray-small">例</p>
                    <p>高い</p>
                </div>
            </div>
            <hr>
            <p class="black-small">提案</p>
            <p class="gray-small">重要性の程度は、ステークホルダーがプロジェクトの影響をどれだけ受けるか、ステークホルダーの視点から見て結果がどれだけ重要であるかに依存します。</p>
        </div>

        <div class="form-section-wrapper">
            <h2 class="form-section-title">概要</h2>
            <div class="form-part-wrapper">
                <div class="form-part-left">
                    <p class="black-small">概要</p>
                    <textarea id="description">{{ stakeholder['json']['description'] }}</textarea>
                    <br><br>                
                </div>
                <div class="form-part-right">
                    <p class="gray-small">例</p>
                    <p>プラチュアン、ナコンシタマラート、サトゥーン、パタールン、ソンクラーの5カ所に500人の小規模漁民が分布</p>
                    <p>1）商業漁船の乱獲が原因で漁獲量が減少したことにより、2）独占価格と中間業者による搾取により、収入が低く不安定。</p>     
                </div>
            </div>
            <hr>
            <p class="black-small">提案</p>
            <p class="gray-small">ステークホルダーの属性（誰が、どこに、何人いるか）、直面している問題、現状などを記述します。</p>
        </div>        
        
        <div class="button-wrapper">
            <button id="formSubmit" class="button" type="button" onclick="fetchSubmit()">提出</button>
        </div>
        <br>
    </div>
</main>
<script src="/static/stakeholder-edit.js"></script>
{% endblock %}