{% extends "base.html" %}

{% block content %}
<div class="main-wrapper">
    <p><a href="/project/{{ project.id }}">< プロジェクトへ戻る</a></p>
    <div class="spacer-big"></div>
    <div class="main-flex-wrapper">
        <div class="main-flex-left">
            <p>プロジェクト： {{ project['json']['title'] }}</p>
            <h1>ステークホルダー： {{ stakeholder['json']['stakeholder'] }}</h1>
            {% if stakeholder.mod_dt %}
                <p class="gray-small">作成： {{ stakeholder.create_dt|datetimefilter }} | 変更： {{ stakeholder.mod_dt|datetimefilter }}</p>
            {% else %}
                <p class="gray-small">作成： {{ stakeholder.create_dt|datetimefilter }}</p>
            {% endif %}
            <h2>受益者の種類</h2>
            <p>{{ stakeholder['json']['degree'] }}</p>
            <h2>重要性の程度</h2>
            <p>{{ stakeholder['json']['importance'] }}</p>
            <h2>概要</h2>
            <p>{{ stakeholder['json']['description'] }}</p>
            <br>
            {% if editable %}
                <div class="passed-zone">
                    <div class="spacer-small"></div>
                    <a class="no-decoration" href="/project/{{ project.id }}/{{ stakeholder.id }}/edit"><button class="button">ステークホルダーを編集する</button></a>&nbsp;&nbsp;
                    <span class="caution"><a href="/project/{{ project.id }}/{{ stakeholder.id }}/delete">このステークホルダーを削除する</a></span>
                </div>
                <br>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}